In [1]:
import nltk

In [19]:
sent = 'They told that their ages are 23, 25 and 29 respectively'

In [21]:
sent.split()

['They',
 'told',
 'that',
 'their',
 'ages',
 'are',
 '23,',
 '25',
 'and',
 '29',
 'respectively']

In [23]:
num = []
words = sent.split()
for word in words:
    if word.isdigit():
        num.append(int(word))

In [25]:
num

[25, 29]

# segmentation/ Sentence Tokenize

In [28]:
sents = 'Hello guys! How are you? Welcome to MIT.'

In [30]:
from nltk.tokenize import sent_tokenize

In [32]:
sent_tokenize(sents)

['Hello guys!', 'How are you?', 'Welcome to MIT.']

In [34]:
sents = '     ,     .     !   .'

In [36]:
sent_tokenize(sents)

['     ,     .', '!', '.']

# Word tokenization

In [39]:
sents = 'Hello guys! How are you? Welcome to MIT.'

In [41]:
from nltk.tokenize import word_tokenize

In [43]:
word_tokenize(sents)

['Hello', 'guys', '!', 'How', 'are', 'you', '?', 'Welcome', 'to', 'MIT', '.']

In [68]:
sent = 'They told that their ages are 23, 25 and 29 respectively'

In [48]:
# 1 find the average of the ages
# 2 count total number of words which starts with 't'/ 'T'
# 3 count the total number of punctuation symbols

In [50]:
num = [int(word) for word in word_tokenize(sent) if word.isdigit()]

In [52]:
num

[23, 25, 29]

In [54]:
sum(num)/ len(num)

25.666666666666668

In [78]:
sum([1 for word in word_tokenize(sent) if word.startswith('t') or word.startswith('T')])

4

In [88]:
sum([1 for word in word_tokenize(sent) if not word.isdigit() and not word.isalpha()])

1

In [104]:
[word for word in word_tokenize(sent) if not word.isdigit() and not word.isalpha()]

[',']

# Tab Tokenizer

In [115]:
sents = 'Hello guys!\tHow are you? Welcome to\tMIT.'

In [119]:
print(sents)

Hello guys!	How are you? Welcome to	MIT.

In [121]:
from nltk.tokenize import TabTokenizer

In [123]:
tk = TabTokenizer()

In [125]:
tk.tokenize(sents)

['Hello guys!', 'How are you? Welcome to', 'MIT.']

In [127]:
# https://mitu.co.in/dataset
# student3.tsv

In [129]:
f = open('student3.tsv')
data = f.read()
tk.tokenize(data)

['roll',
 'name',
 'class',
 'marks',
 'age\n1',
 'anil',
 'TE',
 '56.77',
 '22\n2',
 'amit',
 'TE',
 '59.77',
 '21\n3',
 'aniket',
 'BE',
 '76.88',
 '19\n4',
 'ajinkya',
 'TE',
 '69.66',
 '20\n5',
 'asha',
 'TE',
 '63.28',
 '20\n6',
 'ayesha',
 'BE',
 '49.55',
 '20\n7',
 'amar',
 'BE',
 '65.34',
 '19\n8',
 'amita',
 'BE',
 '68.33',
 '23\n9',
 'amol',
 'TE',
 '56.75',
 '20\n10',
 'anmol',
 'BE',
 '78.66',
 '21\n']

# Multi word tokenizer

In [132]:
sent = 'Raj Sharma is in Pune today. We welcomed Raj Sharma'

In [136]:
from nltk.tokenize import MWETokenizer
mwet = MWETokenizer()

In [138]:
mwet.add_mwe(('Raj', 'Sharma'))

In [140]:
mwet.tokenize(word_tokenize(sent))

['Raj_Sharma',
 'is',
 'in',
 'Pune',
 'today',
 '.',
 'We',
 'welcomed',
 'Raj_Sharma']