In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
import pandas as pd
import numpy as np

In [7]:
tfv = TfidfVectorizer()

In [9]:
sent1 = 'It is a good practice for us'
sent2 = 'It was also good to know about it'

In [11]:
x = tfv.fit_transform([sent1, sent2])

In [13]:
x

<2x11 sparse matrix of type '<class 'numpy.float64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [15]:
tfv.get_feature_names_out()

array(['about', 'also', 'for', 'good', 'is', 'it', 'know', 'practice',
       'to', 'us', 'was'], dtype=object)

In [17]:
pd.DataFrame(data = x.toarray(),
            columns= tfv.get_feature_names_out())

,about,also,for,good,is,it,know,practice,to,us,was
0,0.000000,0.000000,0.446656,0.317800,0.446656,0.317800,0.000000,0.446656,0.000000,0.446656,0.000000
1,0.364391,0.364391,0.000000,0.259267,0.000000,0.518534,0.364391,0.000000,0.364391,0.000000,0.364391

# tf-idf transformer

In [21]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

In [25]:
cv = CountVectorizer()

In [27]:
word_vector = cv.fit_transform([sent1, sent2])
tfidf_transformer = TfidfTransformer()
x = tfidf_transformer.fit_transform(word_vector)

In [31]:
df = pd.DataFrame(tfidf_transformer.idf_,
                 index= cv.get_feature_names_out(),
                 columns = ['idf_weights'])

In [45]:
df;

In [43]:
word_vector.toarray()

array([[0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0],
       [1, 1, 0, 1, 0, 2, 1, 0, 1, 0, 1]])